html {
    scroll-behavior: smooth;
}

body {
    background-color: #7CA7EB;
    font-family: sans-serif;
}

.container-menu {
    max-width: 1000px;
    margin: auto;
    padding: 0rem 1rem;
}

header {
    position: sticky;
    top: 0;
    background: #000B26;
    border-radius: 999px;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
}

.estrela {
    max-width: 5rem;
    display: flex;
    justify-content: flex-start;
}

nav .menu a {
    color: #E2C590;
    font-family:'Ubuntu Sans Mono', monospace;
    text-decoration: none;
    font-weight: 500;
    padding: 0.4rem 0.7rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transition: color 0.3s ease, transform 0.2s ease;
}

nav .menu a:hover {
    background-color: #E2C590;
    color: #000B26;
}

.container-inicio {
    width: 100%;
    height: 600px;
    background-image: url("imagens/materiais.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.4rem 0;
    border-radius: 5rem;
    margin-top: 2rem;
}

.texto-inicio {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.788);
    width: 60%;
    padding: 2rem;
}

.texto-inicio h1 {
    font-size: 1.8rem;
    line-height: 1.5;
}

/* Linha do tempo */
.container-timeline {
    max-width: 2000px;
    margin: 4rem auto;
    padding: 2rem;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 4rem;
}

.container-timeline h2 {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.container-timeline .introducao-jornada {
    font-family: 'Ubuntu Sans Mono', monospace;
    font: 1.5rem;
    color: #000B26;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #000B26;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

.item-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    z-index: 2;
    margin-bottom: 2rem;
}

.esquerda {
    left: 0;
}

.direita {
    left: 50%;
}

.item-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 4rem;
    background-color: #7CA7EB;
    border: 3px solid #D9D9D9;
    top: 35%;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 3;
}

.direita::after {
    left: -15px;
    right: auto;
}

.texto-timeline {
    padding: 1rem;
    position: relative;
    border-radius: 6px;
    text-align: left;
    min-height: 150px;
    display: flex;
    align-items: center;
}

.texto-timeline p {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 1.2rem;
    color: #301f1b;
    padding: 0.5rem;
    margin: auto;
    width: 60%;
}

.esquerda .texto-timeline {
    margin-right: 35px;
}

.direita .texto-timeline {
    margin-left: 35px;
}

.card-timeline {
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
}

.imagem-timeline {
    max-width: 100%;
    height: 500px;
    border-radius: 15px;
}

.data {
    font-weight: bold;
    margin-top: 0.5rem;
    color: #301f1b;
}

.esquerda {
    text-align: right;
}

.direita {
    text-align: left;
}

.final-jornada {
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    font-family: 'Ubuntu Sans Mono', monospace;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    line-height: 1.3;
}

.container-galeria {
    max-width: 2000px;
    margin: 4rem auto;
    padding: 2rem;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 4rem;
}

.header-galeria h2 {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.header-galeria p {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
    margin-top: 4rem;
}

.titulo-personagens {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 1.5rem;
    margin-top: 6rem;
}

.container-personagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.container-personagens img {
    margin: auto;
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
    border-radius: 1.5rem;
}

.texto1 {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
    margin-top: 4rem;
}

.texto2 {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
    margin-top: 4rem;
}

.titulo-favs {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 1.5rem;
    margin-top: 6rem;
}

.linha1 {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.linha1 img {
    height: 700px;
    width: auto;
    object-fit: contain;
    display: block;
    border-radius: 1.5rem;
}

.linha2 {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.linha2 img {
    height: 700px;
    width: auto;
    object-fit: contain;
    display: block;
    border-radius: 1.5rem;
}

.linha3 {
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.linha3 img {
    height: 600px;
    width: auto;
    object-fit: contain;
    display: block;
    border-radius: 1.5rem;
}

.container-dicas {
    max-width: 2000px;
    margin: 4rem auto;
    padding: 2rem;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 4rem;
}

.header-dicas {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.container-cards-dicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
}

.card-dica {
    width: 300px;
    background-color: #D9D9D9;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.199);
    text-align: center;
    min-height: 350px;
    transition: transform 0.3s ease;
}

.card-dica:hover {
    transform: translateY(-10px);
}

.card-dica img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.card-dica h3 {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.card-dica p {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 1.1rem;
    color: #301f1b;
    line-height: 1.5;
}

.titulo-yt {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 1.5rem;
    margin-top: 6rem;
}

.yt1, .yt2, .yt3 {
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.info {
    flex-basis: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.info a {
    font-family: 'Unbounded', sans-serif;
    color: #000B26;
    font-size: 1.2rem;
}

.yt1 p, .yt2 p, .yt3 p {
    flex-grow: 1;
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 1.1rem;
    color: #333;
    line-height: 1.5;
    padding: 0;
    margin: auto;
}

.direita {
    flex-direction: row-reverse;
}

.img-footer {
    width: 100%;
    margin-bottom: -2rem;
}

footer {
    max-width: 2000px;
    padding: 2rem;
    text-align: center;
    background-color: #D9D9D9;
}

footer p {
    font-family: 'Ubuntu Sans Mono', monospace;
    font-size: 1.2rem;
    color: #301f1b;
    padding: 0.5rem;
    margin: auto;
    width: 50%;
    margin-top: 4rem;
}

.github {
    display: flex;
    justify-content: flex-start;
    flex-direction: row
}

.github img {
    width: 5rem;
}

.github a {
    color: #301f1b;
    font-family: 'Ubuntu Sans Mono', monospace;
    margin-top:auto;
}

.botao-topo {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 1.3rem 1.3rem;
    border-radius: 999px;
    background: #7CA7EB;
    border: 1.5px solid #000B26;
    text-decoration: none;
    transition: transform 0.3s ease;
}

hr {
    height: 2px;
    border: none;
    background-color: #000B26;
}

.botao-topo:hover {
    transform: translateY(-10px);
}